body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/background.jpg");
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.75),
    rgba(128, 128, 128, 1),
    rgba(128, 0, 32, 0.75),
    rgba(128, 0, 32, 1)
  );
  color: white;
  border: 4px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 10rem;
  text-align: center;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.center-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.navigate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.75),
    rgba(128, 128, 128, 1),
    rgba(128, 0, 32, 0.75),
    rgba(128, 0, 32, 1)
  );
  color: white;
  text-decoration: none;
  border: 4px solid #ccc;
  border-radius: 1rem;
  transition: background-color 0.3s;
  text-align: center;
}

.navigate-button:hover {
  background-color: #333444;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

p {
  font-size: 1em;
  color: white;
  font-weight: bold;
}

#photoGallery,
#videoGallery,
#sections {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.75),
    rgba(128, 128, 128, 1),
    rgba(128, 0, 32, 0.75),
    rgba(128, 0, 32, 1)
  );
  border: 4px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  box-sizing: border-box;
}

.gallery img,
.gallery video {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

#lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  visibility: hidden;
}

#lightbox img,
#lightbox video {
  max-width: 90%;
  max-height: 90%;
  background: white;
  border-radius: 5px;
}

#lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.lightbox-arrow {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transform: translateY(-50%);
}

.lightbox-arrow.left {
  left: 20px;
}

.lightbox-arrow.right {
  right: 20px;
}

.hidden {
  display: none;
}
