body {
  font-family: Arial, sans-serif;
  background-image: url('images/background.jpg');
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.center-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.navigate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.navigate-button:hover {
  background-color: #0056b3;
}


section {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery img, .gallery video {
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Hide controls by default */
.gallery video::-webkit-media-controls {
  display: none !important;
}

.gallery video:hover::-webkit-media-controls {
  display: block !important;
}

.gallery video:hover {
  pointer-events: auto; /* Enables interaction with the video controls on hover */
}

#lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  visibility: hidden;
}

#lightbox img, #lightbox video {
  max-width: 90%;
  max-height: 90%;
}

#lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.lightbox-arrow {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transform: translateY(-50%);
}

.lightbox-arrow.left {
  left: 20px;
}

.lightbox-arrow.right {
  right: 20px;
}

.hidden {
  display: none;
}

